//
   Created by andreikuzmin on 16.3.17.

extends layout

block content
    h2 Blog
    form(action="/article_post",method="post")
        div
            <textarea rows = '10' id = 'msg' name = 'content'> </textarea>
        div
            input(type="submit",value="Post")
            input(type="checkbox", name='nonVisible', value="nonVisible", id="nonVisible")
            label(for="nonVisible") Non-Visible