html
    head

    body
    .container
        a(href="/register") Register
        br
        a(href="/login") Login
        br
        a(href="/view") Continue without authentication
        br
        a(href="/") Home







