//
   Created by andreikuzmin on 17.3.17.

extends layout

block content
    h2 Blog
    br
    a(href="/login_success") Create  post
    br
    a(href="/logout") Logout
    br
    !{message}
    br

    div
        ul
            for post in postData
                li: a(href= post) view post








