extends layout

block content
    h2 Register
    br
    !{message}

    form(action="/register",method="post")
        div
            label Username
            input(type="text",name="username")

        div
            label Password
            input(type="password",name="password")

        div
            label E-mail
            input(type="text",name="email")
        div
            input(type="submit",value="Register")