//
   Created by andreikuzmin on 17.3.17.

extends layout

block content
    h2 Blog
    br
    a(href="/login_success") Create  post
    br
    a(href="/logout") Logout
    br
    !{message}
    br

    form(action="/leave_comment", enctype="multipart/form-data", method="post")
        div

            !{postData._id}
            br
            !{postData.text}
            br
            ul
                for comment in postData.comments
                    li= comment



        div
            input(type="text", name="commentInput", placeholder="text")
            input(type="text", name="postID", placeholder="post ID")
            input(type="text", name="rating", placeholder="rating")
            input(type="file", name="filePath", id="filePath", accept="image/*, video/*, audio/*")
        div
            input(type="submit",value="Leave  comment")
    form(action="/delete_post", method="post")
        div
            input(type="text", name="postID", placeholder="post ID")
            input(type="submit", value="Delete  post")

    form(action="/delete_comment", method="post")
        div
            input(type="text", name="commentID", placeholder="comment ID")
            input(type="text", name="postID", placeholder="post ID")
            input(type="submit", value="Delete comment")

